<?xml version="1.0"?>
<dictionary>
  <item>
    <key>
      <string>ProjectRoot</string>
    </key>
    <value>
      <string>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\ProjectRoot.xml&lt;/string&gt;</string>
    </value>
  </item>
  <item>
    <key>
      <string>RecentFiles</string>
    </key>
    <value>
      <string>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\Definitions\cxvb.xml&lt;/string&gt;
  &lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\Definitions\UnlockTree.xmldef&lt;/string&gt;
  &lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\Definitions\UnlockTree2.xmldef&lt;/string&gt;
  &lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\Houses\Pyro.xml&lt;/string&gt;
  &lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\Particles\Splatter.xml&lt;/string&gt;
  &lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\Orbs\Orbs.xml&lt;/string&gt;
  &lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\Definitions\Orbs.xmldef&lt;/string&gt;
  &lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\Factions\Rats.xml&lt;/string&gt;
  &lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\Themes\Dungeon.xml&lt;/string&gt;
  &lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\Definitions\Sprite.xmldef&lt;/string&gt;
  &lt;string&gt;D:\Users\Philip\workspace\Match3\android\assets\Definitions\Theme.xmldef&lt;/string&gt;
&lt;/ArrayOfString&gt;</string>
    </value>
  </item>
</dictionary>